<a href="/dashboard">&larr; Back to Admin Dashboard</a>
<div class="admin-title">
    <h2>Add new post</h2>
</div>

<form action="/add-posts" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="30" rows="10"></textarea>

    <label for="song"><b>Song</b></label>
    <input type="text" placeholder="Song" name="song">

    <label for="topic"><b>Topic</b></label>
    <input type="text" placeholder="Topic" name="topic">


    <input type="submit" value="Add" class="btn">
</form>