<body>

    <%- include('../partials/search.ejs') %>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <main class="'main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>  
</body>
</html>