<div class="author">
    <h1 class="author__heading">Hi, I'm Austin</h1>
    <p class="author__body">This is a fun side project I used to teach myself some basic Node.JS skills.</p>
</div>

<img src="/img/threeAmigos.jpeg" alt="threeAmigos" class="threeamigos-img" >



