<div class="wrapper">
  <div class="post-page-container">
    <h2 class="post-page-title">
      <%= post.title %>
    </h2>
    <article class="article">
      <%= post.body %>
    </article>
  </div>
  <footer class="post-page-song">
    <% if (post.song) { %>
      <h3>Song: <%= post.song %>
      </h3>
      <% } %>
  </footer>
</div>