/* body {
    background-color: gray;
} */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("/img/img-noise-361x370.png");
    margin: 0;
  }
  
  a { color: var(--black); }
  h1 { font-size: var(--font-size-xl); }
  h2 { font-size: var(--font-size-lg); }
  h3 { font-size: var(--font-size-md); }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  select,
  textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 75%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
  }
  
  .btn {
    background-color: var(--black);
    border: none;
    color: white; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px; 
    cursor: pointer;
  }
  
  .btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
  }
  
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Layout */
  .container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .main {
    padding: 20px 0;
  }
  
  /* Hero Section */
  .auziandmason-img {
    max-height: 428px;
    max-width: 328px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
    display: block;
  }

  .threeamigos-img {
    max-height: 428px;
    max-width: 328px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
    display: block;
  }
  
  
  /* Main Header */
  .header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
    padding-top: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 
      "logo menu button";
    }
  }
  
  .header__logo {
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    grid-area: logo;
  }
  
  .header__logo:hover {
    text-decoration: underline;
  }
  
  .header__nav {
    justify-content: center;
    display: flex;
    grid-area: menu;
  }
  
  .header__logo, .header__nav, .header__button {
    width: 100%;
  }
  
  .header__button {
    display: flex;
    justify-content: end;
    grid-area: button;
  }
  
  .header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
  }
  
  .header__button button:hover {
    border: 2px solid var(--black);
  }
  
  /* Header -> Navigation */
  .header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
  }
  
  .header__nav ul a {
    padding: 10px;
    text-decoration: none;
  }
  
  .header__nav ul a.active {
    color: #7E7E7E;
  }
  
  .header__nav ul a:hover {
    text-decoration: underline;
  }
  
  /* Author - HomePage */
  .author {
    padding: 10px 0;
    text-align: center;
  }
  
  .author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
  }
  
  
  /* Home Article List */
  .articles__heading {
    margin-top: 4rem;
    font-weight: 400;
  }
  
  .article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
  }
  
  .article-list__date {
    display: block;
    font-size: 0.8rem;
    color: #656;
    text-align: center; /* Add this line to align the date on the left */
  }
  
  
  .article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
  }
  
  @media only screen and (min-width: 768px) {
    .article-ul li a {
      flex-direction: row;
      align-items: center;
    }
  
    .article-list__date {
      text-align: right;
    }
  }
  
  .article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
  }
  
  .article-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
  }
  
  /* .article-ul li:hover {
    filter: none;
  } */
  
  /* .article-ul:hover li {
    filter: blur(3px);
  } */
  
  .article-ul:hover li:hover {
    filter: none;
  }
  
  
  .article {
    white-space: pre-wrap;
  }
  
  
  /* Footer */
  .footer {
    margin: 4rem;
    text-align: center;
  }
  
  
  /* Dashboard Admin */
  .admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-posts {
    padding: 0;
    margin: 0;
  }
  
  .admin-post-controls form {
    display: inline-block;
  }
  
  .admin-post-controls .btn  {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
  }
  
  .admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  /* SeachBar */
  .searchBar {
    /* visibility: hidden;
    transform: translateY(-100px); */
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  
  .searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
  }
  
  .searchBar input {
    margin: 0;
    border: 0;
  }
  
  #searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
  }
  
  
  .pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
  }
  
  .pagination:hover {
    color: var(--black);
  }


/*
Blog care CSS
*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #000; /* Thin border for outline */
}


.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1); /* Change box shadow on hover */
}


.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}
