/* body {
    background-color: gray;
} */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url("/img/img-noise-361x370.png");
    margin: 0;
  }
  
  a { color: var(--black); }
  h1 { font-size: var(--font-size-xl); }
  h2 { font-size: var(--font-size-lg); }
  h3 { font-size: var(--font-size-md); }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  select,
  textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 75%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
  }
  
  .btn {
    background-color: var(--black);
    border: none;
    color: white; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px; 
    cursor: pointer;
  }
  
  .btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
  }
  
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Layout */
  .container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .main {
    padding: 20px 0;
  }


  .image_container{
    display: flex;
    gap: 5px;
  }

  .test-img{
    max-height: 328px;
    max-width: 228px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
    display: block;
  }
  
  /* Hero Section */
  .auziandmason-img {
    max-height: 328px;
    max-width: 228px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
    display: block;
  }

  .threeamigos-img {
    max-height: 328px;
    max-width: 228px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
    display: block;
  }


  
  
  /* Main Header */
  .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
    padding-top: 20px;
  }

  .header-container {
    display: flex;
    align-items: center; /* Ensure items are vertically centered */
    grid-area: logo;
  }

  .calvin-hobbs-img {
    max-height: 40px; /* Adjust the maximum height as needed */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    align-self: center;
    margin-left: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 
      "logo menu button";
    }
  }
  
  .header__logo {
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    grid-area: logo;
    align-self: center;
    margin: 0;
  }
  
  .header__logo:hover {
    text-decoration: underline;
  }
  
  .header__nav {
    justify-content: center;
    display: flex;
    grid-area: menu;
  }
  
  .header__logo, .header__nav, .header__button {
    width: auto;
    margin: 0;
  }
  
  .header__button {
    display: flex;
    justify-content: end;
    grid-area: button;
  }
  
  .header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
  }
  
  .header__button button:hover {
    border: 2px solid var(--black);
  }
  
  /* Header -> Navigation */
  .header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
  }
  
  .header__nav ul a {
    padding: 10px;
    text-decoration: none;
  }
  
  .header__nav ul a.active {
    color: #7E7E7E;
  }
  
  .header__nav ul a:hover {
    text-decoration: underline;
  }
  
  /* Author - HomePage */
  .author {
    padding: 10px 0;
    text-align: center;
  }
  
  .author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
  }

  

  
  
  .article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
  }
  
  @media only screen and (min-width: 768px) {
    .article-ul li a {
      flex-direction: row;
      align-items: center;
    }
  
    .article-list__date {
      text-align: right;
    }
  }
  
  .article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
  }
  
  .article-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
  }
  
  /* .article-ul li:hover {
    filter: none;
  } */
  
  /* .article-ul:hover li {
    filter: blur(3px);
  } */
  
  .article-ul:hover li:hover {
    filter: none;
  }
  
  
  .article {
    white-space: pre-wrap;
  }
  
  
  /* Footer */
  .footer {
    margin: 4rem;
    text-align: center;
  }
  
  
  /* Dashboard Admin */
  .admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .admin-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust the gap between cards */
    justify-content: center; /* Center the cards horizontally */
  }

  .admin-card {
    position: relative;
    flex: 1 1 calc(40% - 1rem); /* Adjust the width calculation */
    max-width: calc(40% - 1rem); /* Adjust the max-width calculation */
    height: auto; /* Set a fixed height for all cards */
    margin-bottom: 1rem; /* Add bottom margin for spacing between cards */
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
    overflow: hidden; /* Ensure absolute positioned elements don't overflow the container */
    display: flex;
  flex-direction: column; /* Ensure content flows properly */
  }
  
  .admin-posts {
    padding: 0;
    margin: 0;
  }
  .admin-blog-content{
    flex: 1; /* Allow the content to expand to fill the card */
  padding: 20px;
  }

  .admin-btn{
    padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  .admin-post-controls {
    margin-top: auto; /* Push controls to the bottom of the card */
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Adjust the gap between Edit and Delete buttons */
    padding: 10px; /* Add padding to separate from content */
  }
  
  .admin-post-controls form {
    display: inline-block;
  }
  
  .admin-post-controls .admin-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px; /* Adjust margin between buttons */
  }
  
  .admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  /* SeachBar */
  .searchBar {
    /* visibility: hidden;
    transform: translateY(-100px); */
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  
  .searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
  }
  
  .searchBar input {
    margin: 0;
    border: 0;
  }
  
  #searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
  }
  
  
  .pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
  }
  
  .pagination:hover {
    color: var(--black);
  }


  /*
 Songs page CSS

  */


.song_info {
  border: 10px green 
}


.song-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  justify-content: center;

}

.song {
  flex: 1 1 calc(33.333% - 1rem); /* Adjust the width calculation */
  max-width: calc(33.333% - 1rem); /* Adjust the max-width calculation */
  margin-bottom: 1rem; /*Add bottom margin for spacing between songs */
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
   border: 1px solid #000; /*Thin border for outline */
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
  display: flex; /* Use flexbox to align items vertically */
  flex-direction: column; /* Arrange items vertically */
  transition: 0.5s; /*Speed of hover effect*/

}

.song:hover {
  transform: translateY(-10px);
}

.song-image {
  flex: 1; /* Take up remaining vertical space */
}

.album_imgs {
  max-width: 100%;
  border-radius: 0.5rem;
  /* Ensure image doesn't exceed container width */
}

.song-content {
  padding: 0.5rem; /* Add padding to the content */
}





/*
Blog card CSS ---------------------------------------------------------------------------
*/

.articles__heading{
  justify-content: center; /* Center the cards horizontally */
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the gap between cards */
  justify-content: center; /* Center the cards horizontally */
  align-items: flex-start; /* Align items at the start of the flex container */
}

.card {
  position: relative; /* Ensure .article-list__date is positioned relative to .card */
  flex: 1 1 calc(80% - 1rem); /* Adjust the width calculation */
  max-width: calc(80% - 1rem); /* Adjust the max-width calculation */
  height: 220px; /* Set a fixed height for all cards */
  margin-bottom: 5px; /* Add bottom margin for spacing between cards */
  border-radius: 0.5rem;
  background-color: #2f365f;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
  overflow: hidden; /* Ensure absolute positioned elements don't overflow the container */

}


.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1); /* Change box shadow on hover */
}


.card a {
  text-decoration: none

}

.post-title {
  margin-bottom: 5px; /* Adjust margin to control spacing */
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
}

.post-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.4;
  margin-bottom: 10px; /* Adjust margin to control spacing */
}

.post-song{
  padding-top: 5px;
  font-family: Gill Sans, sans-serif;
}

.image {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: 150px;
  background-color: rgb(197, 37, 5);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.post-title {
  margin-bottom: 10px; /* Increase margin temporarily to test */
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4; /* Ensure line-height is consistent */
}


.blog-content {
  padding: 20px;
  height: 100%; /* Ensure it takes the full height of the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Andale Mono, monospace;
}

.article-list__date {
  font-size: 12px; /* Adjust font size if needed */
  color: #888; /* Adjust color if needed */
  align-self: flex-end; /* Align the date to the bottom */
}




/* login page CSS */

body {
  /* background-color: #F3EBF6; */
  font-family: 'Ubuntu', sans-serif;
}

.longin_main {
  background-color: #FFFFFF;
  width: 400px;
  height: 300px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  /* color: #8C55AA; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.username {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 20px;
}

.password {
      width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  /* color: #E1BEE7; */
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}

/* dark-light css  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}
/* 
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
} */

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}

/* 
  Post page CSS -------------------------------------------------------------- 
*/

.wrapper {
  align-items: center; /* Center contents vertically */
  height: 70vh /* Full viewport height */
}

.post-page-container {
  max-width: 70%;
  padding: 20px; /* Example padding */
  margin: 20px auto; /* Center horizontally and add margin */
  
}

.post-page-title{
}

.post-page-song {
  padding: 10px;
  border-top: 1px dashed #ccc; /* Example border style */
  margin-top: auto; /* Push the footer to the bottom */
}




/* 
  Now Playing ----------------------------------------------------------
 */




 .now-playing__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Full viewport height to vertically center */
  padding: 10px;
  font-family: Andale Mono, monospace;


}

 .now-playing__section{
    display: flex;
    align-items: center; /* Center items horizontally */
    padding: 10px;
    max-width: 50%;
    background-color: bisque;
    border-radius: 30px;
    gap: 3rem; /* Adjust the gap between objects */

 }

 .now-playing__image{
    position: relative; /* Ensure .article-list__date is positioned relative to .card */
    max-width: 20%; /* Adjust the max-width calculation */
    border-radius: 50px;
    border-radius: 30px;
 }

 .now-playing__heading{
  font-size: medium;
 }


  
  
